<div class="d-flex justify-content-around" *ngIf="user">
    <div class="fav">
      <h1>Preferiti</h1>
      <table>
        <thead *ngIf="user.favorite_films"> <tr><th>Film</th></tr> </thead>
        <tbody *ngIf="user.favorite_films">
        <tr *ngFor="let film of films">
          <td>{{film.title}}</td>
          <td>          <a routerLink="/filmd/{{film.id}}">
            <fa-icon [icon]="faEye"></fa-icon>
            </a> </td>
          <td><fa-icon [icon]="faMinus" (click)="editFavFilm(film)"></fa-icon></td>
        </tr>
      </tbody>

      <thead *ngIf="user.favorite_actors"> <tr><th>Attori</th></tr> </thead>
      <tbody *ngIf="user.favorite_actors">
      <tr *ngFor="let actor of actors">
        <td>{{actor.firstname}} {{actor.lastname}}</td>
        <td>          <a routerLink="/actord/{{actor.id}}">
          <fa-icon [icon]="faEye"></fa-icon>
          </a> </td>
        <td><fa-icon [icon]="faMinus" (click)="editFavActor(actor)"></fa-icon></td>
      </tr>
    </tbody>

    <thead *ngIf="user.favorite_genres"> <tr><th>Generi</th></tr> </thead>
    <tbody *ngIf="user.favorite_genres">
    <tr *ngFor="let genre of genres">
      <td>{{genre.name}}</td>
      <td>          <a routerLink="/genred/{{genre.id}}">
        <fa-icon [icon]="faEye"></fa-icon>
        </a> </td>
      <td><fa-icon [icon]="faMinus" (click)="editFavGenre(genre)"></fa-icon></td>
    </tr>
  </tbody>

      </table>



        </div>
        
     
    
    <div>

      <h1>Modifica
        <a routerLink="/modify-user">
          <fa-icon class="iconTitle" [icon]="faEdit"></fa-icon>
      </a>
  
  
  
  
      </h1>



        <table class="table table-hover table-dark">
              <tr>
                <th scope="row">Id</th>
                <td>{{user.id}}</td>
              </tr>
              <tr>
                <th scope="row">Username</th>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <th scope="row">Password</th>
                <td>{{user.password}}</td>
              </tr>

              <tr>
                <th scope="row">Nome</th>
                <td>{{user.firstname}} </td>
              </tr>

              <tr>
                <th scope="row">Cognome</th>
                <td>{{user.lastname}}</td>
              </tr>

              <tr>
                <th scope="row">Data di nascita</th>
                <td>{{user.birthdate}}</td>
              </tr>
              <tr>
                <th scope="row">Ultimo login</th>
                <td>{{user.last_login}}</td>
              </tr>




          </table>


    </div>
    
</div>











