<div class="details">

  <table *ngIf="actor" class="table align-self-center">
      <tbody>
          <tr>
              <td class="title" colspan="2">
                
                
                  <h1>{{actor.firstname}} {{actor.lastname}}
                    <a routerLink="/edit-actor/{{actor.id}}">
                      <fa-icon [icon]="faEdit"></fa-icon>
                      
                  </a>
                  <fa-icon [icon]="bin"  (click)="deleteActor()"></fa-icon>
                  <fa-icon [icon]='this.favourite? this.fullHeart:emptyHeart' (click)="toggleFav()"></fa-icon>

                  </h1>
                
              
              </td>
          </tr>
        <tr class="grey">
          <th scope="row">Data di nascita</th>
          <td>{{actor.birthdate}}</td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <h5 class="grey">Filmografia</h5>
        <div class="row row-cols-1">
          <div *ngFor="let film of films" class="col listC">
            <a routerLink="/filmd/{{film.id}}">
            {{film.title}}</a>
          </div>
          </div>
        </div>
      
  
  </div>