

.mainDetails {
    margin: 25px;
}

.details {
    margin:0 auto;
    margin-top: 25px;
    width:700px;
    
}

.plot {width: 700px;
text-align: justify;
margin: 0 auto;}

.title {
    color:#dc3545;
    text-align: center;
    border-top:none;
}


th {
    text-align: right;
}

.container {
    text-align:center;
    padding-bottom: 25px;
}

fa-icon {
    color: #343a40;
    font-size: 50px;
    cursor:pointer;
}

fa-icon:hover {
    color: white;
}

.grey {
    color: #343a40;
}