  
.black {
    background-color:black;
}

label, button {
    color:white;
}.black {
    background-color:black;
}

label, button {
    color:white;
}

input[type="text"], input[type="password"], button{
    margin: 15px;
}