<div class="container" *ngIf="genre">
    <h1>{{genre.name}}
        <a routerLink="/edit-genre/{{genre.id}}">
        <fa-icon [icon]="faEdit"></fa-icon>
    </a>
    <fa-icon [icon]="bin"  (click)="deleteGenre()"></fa-icon>
    <fa-icon [icon]='this.favourite? this.fullHeart:emptyHeart' (click)="toggleFav()"></fa-icon>
    </h1>
    

    <div class="row row-cols-3">
        <div *ngFor="let film of films" class="col">
  
            <img src="{{film.cover_url}}" class="thumb" alt="{{film.title}}">
  
  
            
            <a routerLink="/filmd/{{film.id}}">
            <div class="thumb-overlay">
              <div class="thumb-text">
                <span class="title">{{film.title}}</span>
              <br>
                {{film.description}}
            </div>
          </div>
        </a>





</div>


